@font-face {
    font-family: 'Sundowners';
    src: url('font/Sundowners.ttf') format('truetype')
}

body {
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Sundowners', sans-serif;
}

#menu {
    z-index: 4;
    position: fixed;
    top: 30px;
    left: 20px;
    transition: transform 0.5s ease;
}

#menu-bar {
    width: 35px;
    height: 40px;
    cursor: pointer;
    z-index: 100;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #FFFAEE;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

/* Fullscreen Overlay Navigation Menu */
.overlay-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #232323;
    overflow-x: hidden;
    transition: width 0.5s ease;
}

.overlay-nav ul {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.overlay-nav ul li {
    margin: 20px 0;
    
}

.overlay-nav ul li a {
    color: #FFFAEE;
    font-size: 36px;
    text-decoration: none;
    transition: 0.5s;
}

.overlay-nav ul li a:hover {
    color: #6e2121;
}

/* Menu Bar Transformations on Click */
.change .bar {
    background-color: #FFFAEE;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

/* Slide-in effect */
#overlayNav.change {
    width: 100%;
}